.shoe-card {
  text-align: center;
  background-color: var(--white);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 3rem;
  line-height: 2rem;
  width: fit-content;
  display: inline-block;
  color: var(--blue);
}
.shoe-card h2 {
  color: var(--pink);
  font-size: xx-large;
  margin-bottom: 1rem;
}
.shoe-card img {
  width: 15rem;
  margin: 1rem;
}
.bold {
  font-weight: 600;
  text-decoration: solid;
}
.shoe-card button {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  padding: 0.5rem 2rem;
  font-size: large;
  width: 10rem;
  border-radius: 5px;
  font-weight: 600;
  margin: 0.3rem;
}
.shoe-card button:hover {
  background-color: rgb(7, 65, 116);
}
.shoe-card input {
  background-color: none;
  border: none;
  width: 3rem;
  height: 2rem;
  border-radius: 5px;
  margin: 0.8rem 0;
  outline: none;
}
.not-valid {
  background-color: rgba(240, 128, 128, 0.5);
}
